<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>리뷰삭제</title>
    </head>
    <body>
        <form action="/" enctype="multipart/form-data" method="POST">
            {% for i in user_review_list %}  <!-- mask_id, star_rating, review_text, img -->
            <li class="review_row">
                <ul class="review_contents">
                    <li class="img"><img src= "data:image/png;base64, {{i[9]}}"/></li>
                    <li class="mask_name">{{ i[2] }}</li>
                    <li class="star_rating">{{ i[3] }}</li>
                    <li class="review_text">{{ i[4] }}</li>
                    <li class="btn">
                        <a href="#">수정</a>
                        <input type="submit" value="삭제"/>
                    </li>
                </ul>
            </li>
            {% endfor %}

           
        </form>  
    </body>
    
</html>