<!DOCTYPE html>
<html lang="ko">
    <form action="/" method="POST">
    <p>
        <span class="join-element special">옵션1</span>
        <span class="r_op1-list">
            회사원<input type="radio" name="r_op1" value="1" checked>
            주부<input type="radio" name="r_op1" value="2">
            학생<input type="radio" name="r_op1" value="3">
            자영업<input type="radio" name="r_op1" value="1"><br>
        </span>
    </p>
    <button type="submit" name = "zzim_btn" value="zzim_btn" onclick="">찜</button>
    <input type="checkbox" data-toggle="toggle">
</form>
</html>